{{- $externalSecret := .Values.externalSecret -}}
{{- $secretPrefix := default (printf "%s/aquapump" (default "dev" .Values.global.env)) .Values.global.secretPrefix -}}
{{- if $externalSecret.enabled }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ default (printf "%s-secrets" .Release.Name) $externalSecret.name }}
spec:
  refreshInterval: {{ default "1h" $externalSecret.refreshInterval | quote }}
  secretStoreRef:
    kind: {{ default "ClusterSecretStore" $externalSecret.secretStoreRef.kind }}
    name: {{ default "aws-secretsmanager" $externalSecret.secretStoreRef.name }}
  target:
    name: {{ default (printf "%s-secrets" .Release.Name) $externalSecret.target.name }}
    creationPolicy: {{ default "Owner" $externalSecret.target.creationPolicy }}
{{- if $externalSecret.data }}
  data:
{{ toYaml $externalSecret.data | indent 4 }}
{{- else }}
  data:
    - secretKey: SUPABASE_URL
      remoteRef:
        key: {{ $secretPrefix }}
        property: SUPABASE_URL
    - secretKey: SUPABASE_SERVICE_ROLE_KEY
      remoteRef:
        key: {{ $secretPrefix }}
        property: SUPABASE_SERVICE_ROLE_KEY
    - secretKey: AI_API_KEY
      remoteRef:
        key: {{ $secretPrefix }}
        property: AI_API_KEY
    - secretKey: AI_API_BASE_URL
      remoteRef:
        key: {{ $secretPrefix }}
        property: AI_API_BASE_URL
    - secretKey: AI_MODEL
      remoteRef:
        key: {{ $secretPrefix }}
        property: AI_MODEL
    - secretKey: VITE_REACT_APP_API_BASE
      remoteRef:
        key: {{ $secretPrefix }}
        property: VITE_REACT_APP_API_BASE
    - secretKey: CORS_ALLOW_ORIGINS
      remoteRef:
        key: {{ $secretPrefix }}
        property: CORS_ALLOW_ORIGINS
{{- end }}
{{- end }}
