{{- $externalSecret := .Values.externalSecret -}}
{{- if $externalSecret.enabled }}
  --- apiVersion: external-secrets.io/v1 kind: ExternalSecret metadata: name:
  {{ $externalSecret.name }}
  spec: refreshInterval:
  {{ $externalSecret.refreshInterval | quote }}
  secretStoreRef: kind:
  {{ $externalSecret.secretStoreRef.kind }}
  name:
  {{ $externalSecret.secretStoreRef.name }}
  target: name:
  {{ default $externalSecret.name $externalSecret.target.name }}
  {{ if $externalSecret.target.creationPolicy }}
    creationPolicy:
    {{ $externalSecret.target.creationPolicy }}
  {{ end }}
  {{ if $externalSecret.data }}
    data:
    {{ toYaml $externalSecret.data | indent 4 }}
  {{ end }}
{{- end }}
