{{- $global := .Values.global | default dict }}
{{- range $name, $component := .Values.components }}
{{- $componentSA := $component.serviceAccount | default dict }}
{{- $globalSA := $global.serviceAccount | default dict }}
{{- $saConfig := dict "create" ($globalSA.create | default false) -}}
{{- if hasKey $componentSA "create" }}{{- $_ := set $saConfig "create" ($componentSA.create | default false) -}}{{- end }}
{{- $create := $saConfig.create }}
{{- if $create }}
{{- $saName := include "aquapump.serviceAccountName" (dict "component" $component "global" $global "componentName" $name "Release" $.Release) -}}
{{- $labels := dict "app.kubernetes.io/name" (include "aquapump.componentFullname" (dict "Release" $.Release "componentName" $name)) "app.kubernetes.io/instance" $.Release.Name "app.kubernetes.io/component" $name -}}
{{- range $k, $v := ($globalSA.labels | default dict) }}{{- $_ := set $labels $k $v }}{{- end }}
{{- range $k, $v := ($componentSA.labels | default dict) }}{{- $_ := set $labels $k $v }}{{- end }}
{{- $annotations := dict -}}
{{- range $k, $v := ($globalSA.annotations | default dict) }}{{- $_ := set $annotations $k $v }}{{- end }}
{{- range $k, $v := ($componentSA.annotations | default dict) }}{{- $_ := set $annotations $k $v }}{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $saName }}
  namespace: {{ $.Values.namespace }}
  labels:
{{ toYaml $labels | nindent 4 }}
{{- if gt (len $annotations) 0 }}
  annotations:
{{ toYaml $annotations | nindent 4 }}
{{- end }}
{{- if hasKey $componentSA "automount" }}
automountServiceAccountToken: {{ $componentSA.automount }}
{{- else if hasKey $globalSA "automount" }}
automountServiceAccountToken: {{ $globalSA.automount }}
{{- end }}
{{- with $componentSA.imagePullSecrets }}
imagePullSecrets:
{{ toYaml . | nindent 2 }}
{{- else if $globalSA.imagePullSecrets }}
imagePullSecrets:
{{ toYaml $globalSA.imagePullSecrets | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
